.laya/chrome/
bin/ani/
bin/bigMan/
bin/comp/
bin/house/
bin/js/
!bin/libs/
!bin/res/ani/
!bin/index.html
!bin/unpack.json
!libs/
release/wxgame/bigMan/
release/wxgame/comp/
release/wxgame/house/
release/wxgame/res/
release/wxgame/wife/
!release/wxgame/game.js
!release/wxgame/game.json
!release/wxgame/App.js.map
!release/wxgame/weapp-adapter.js
!release/wxgame/version.json
